body {
    background-color: #F5C6A5;
  }

  hr {
    background-color: none;
    border-style: dotted none none;
    border-width: 10px;
    border-color: #FF7777;
    width: 6%;
  }

  h1, h3{
    color: #A2416B;
  }